
    <div class="col-lg-4 col-sm-6">
        <div class="industries-img">
            <img src="{{ fields.field_image.content|striptags}}" class="img-fluid">
            <h6>{{ fields.title.content }}</h6>
        </div>
    </div>

