<section class="different-languages">
    <div class="container-fluid">
        <div class="row">
            <h4 class="topic-highlighter-left-single-line">{{ content.field_title_ }}</h4>
            {{ content.field_language_first_letter }}
        </div>
    </div>
</section>