<section class="btn-section">
    <div class="container-fluid">
        <h4> {{ content.field_first_letter.0 }} </h4>
        <div class="row">
           
        </div>
        {{ content.field_country }}
    </div>
</section>