<section class="maincontent py-3">
    <div class="container-fluid">
        <div class="policycontent">
            <p> {{ content.field_body }}</p>

           {{ content.field_policy_inner }}

            
        </div>
    </div>
</section>