<section class="container-fluid pt-5">
	<div class="row">
		<div class="col-md-6">
			<img src="{{ content.field_image.0 }}" alt="career" class="img-fluid">
		</div>
		<div class="col-md-6">
			<div class="static">
				<p>{{ content.field_body_ }}</p>
			</div>
		</div>
	</div>
</section>