
	<div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="contact-us-form">
                    <div class="contact-us-form-heading">
                        <h4>{{ content.field_title_ }}</h4>
                        <p>{{ content.field_short_body }}</p>
                    </div>
                    <div class="contact-us-input">
                        {{ content.field_contact_form }}
                    </div>
                </div>
            </div>
        </div>
    </div>