<div class="col-md-3 col-6">
    <div class="inventory-box">
        <div class="inv-head">
            <h5>{{ content.field_first_letter }}</h5>
        </div>
        <div class="inv-body">
            <ul>
                {{ content.field_language_types }}
            </ul>
        </div>
    </div>
</div>