<section class="our-clients">
    <div class="container-fluid">
        <div class="our-clients-bg" style="background-image:url({{content.field_image.0}})">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="our-clients-content">
                        <h4>{{ content.field_title_ }}</h4>
                        <p>{{ content.field_body_ }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="social-impact">
    <div class="container-fluid">
        <div class="social-impact-bg">	
            <div class="row">
                {{ content.field_our_clients_inner }}
            </div>
        </div>
    </div>
</section>