<section class="service-page-bottom" id="professional">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 py-3">
                <h5> {{content.field_title_}} </h5>
                <p>{{content.field_body}}</p>
                <h6>{{content.field_short_body}}</h6>
            </div>
            <div class="col-lg-6 order-first order-lg-last py-3">
                <div class="service-block-wrap">
                    {{content.field_professional_translation}}
                </div>
            </div>
        </div>
    </div>
</section> 