<section class="news-home py-3">
    <div class="container-fluid">
        <div class="row">
            <h3 class="normal-h3">{{content.field_title_}}</h3>
          {{content.field_latest_news_and_resources_}}
        </div>
    </div>
</section>