<div class="col-md-3 col-sm-6">
    <div class="industry-card">
        <div class="industry-card-img">
            <a href="{{paragraph.field_link.get(0).getUrl().toString()}}">
                <img src="{{ content.field_image.0 }}">
            </a>
        </div>
        <div class="industry-card-content">
            <h6>{{paragraph.field_link.title}}</h6>
            <div class="industry-card-triangle">--------</div>
        </div>
    </div>
</div>