<section class="language-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="language-top-left">
                   {{ content.field_image }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="language-top-right">
                    <h5> {{ content.field_title }} </h5>
                    <p> {{ content.field_body }} </p>
                </div>
            </div>
        </div>
    </div>
</section>