<section class="quick-links py-5">
    <h3 class="primary-title"> {{ content.field_title_ }} </h3>
    <div class="container pt-2">
        <div class="row">
            {{ content.field_paragraph}}
        </div>
    </div>
</section>