<section class="industry">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="industry-top-left">
                    <img src="{{ content.field_image.0 }}">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="industry-top-right">
                    <h4>{{ content.field_title_ }}</h4>
                    <p>{{ content.field_body }}</p>
                </div>
            </div>
        </div>
    </div>
</section>