

  <section class="icon-section py-5">
    <h3 class="primary-title">{{ content.field_plain_title }}</h3>
    <div class="container">
        <div class="row pt-4">
    {{ content.field_ils_difference_inner}}
    </div>
    </div>
</section>