

  <main class="container-fullwidth">
	<section class="banner-img mb-3 style="background-image":url('{{content.field_image.0}}') ">
		<div class="container">
			<div class="banner-content">
				<h1 class="py-2">{{ content.field_title }}</h1>
				<h6 class="text-big">{{ content.field_body }}</h6>
			</div>
		</div>
	</section>
    </main>