<section class="localization-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="localization-top-left">
                    <img src="{{ content.field_image.0 }}">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="localization-top-right">
                    <p> {{ content.field_body }}</p>
                    <h6 class="text-green">The following steps are commonly included in a localization project:</h6>
                    <p>{{ content.field_steps_for_localization }} </p>
                </div>
            </div>
        </div>
    </div>
</section>