<section class="contact-us">
    <div class="contact-us-heading">
        <h4>{{ content.field_title_ }}</h4>
        <p>{{ content.field_short_body }}</p>
    </div>
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="row py-3">
                    {{ content.field_contact_us_inner }}
                </div>
                </div>
                </div>
                </div>
                </section>